@font-face {
    font-family: 'Everett';
    src: url('../resources/fonts/Everett-Medium.woff2') format('woff2'),
        url('../resources/fonts/Everett-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('../resources/fonts/Everett-Bold.woff2') format('woff2'),
        url('../fonts/Everett-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('../resources/fonts/Everett-Regular.woff2') format('woff2'),
        url('../resources/fonts/Everett-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('../resources/fonts/Everett-Light.woff2') format('woff2'),
        url('../resources/fonts/Everett-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myco';
    src: url('../resources/fonts/Nouvellepolice-Regular.woff2') format('woff2'),
        url('../resources/fonts/Nouvellepolice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

