html {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: 'Everett';
  color: black;
  font-size: 20px;
  background-color: #f9f9f9;
  margin: 0;
  height: 100%;
}

.space {
  font-size: 1rem;
  width: 40%;
}

#menu,
#percentage {
  font-size: 1rem;
  text-align: center;
}

#menu {
  border: 1px solid black;
  /* border-right: 1px solid black;
  border-top: 1px solid black; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;

  transition-timing-function: ease-in-out;
  flex: 1 1 auto;
}

.container > .section {
  position: relative;
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex: 1;
  flex-shrink: 20;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

#current-section {
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  width: 30%;
  position: relative;
  z-index: 100;
}

.number {
  text-align: center;
}

.box {
  flex: 1;
  max-height: 100%;
  text-align: left;
  padding: 10px;
  height: 0;
}

.box:not(:last-child) {
  border-bottom: 0.25px solid black;
}

.menu-content {
  opacity: 0;
  color: black;
  z-index: 100;
  position: absolute;
  height: 100vh;
}

.subContainer {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  border: 0.25px solid black;
  justify-content: center;
  transition: 0.55s;
  height: 100%;
}

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  text-align: center;
  border: 0.25px solid black;
}

.opaque {
  opacity: 0;
  transition: 0.25s;
  transform: translate3d(0, 5px, 0);
  width: 0;
}

.hidden {
  display: none;
}

.title {
  font-size: 2.4rem;
  padding: 0.25rem;
  line-height: 2rem;
  margin-bottom: 5rem;
}

img {
  margin-top: -2rem;
  max-width: 60%;
  height: auto;
}

.title-section {
  display: flex;
  text-align: center;
  background-color: #b79588;
  border-left: 0.25px solid black;
  border-right: 0.25px solid black;
  flex: 60 1 30%;
  font-size: 120px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  bottom: auto;
  right: auto;
  background: #6c567b;
  transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  top: 100%;
}
