body {
  font-family: 'Everett';
  color: black;
  font-size: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

#menu,
#percentage {
  width: 40%;
}

.container {
  display: flex;
  /* min-height: 96vh;
  min-width: 100vw; */
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  min-height: 92vh;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 0.25px solid black;
}
#previous-section,
#next-section {
  border-left: 0.25px solid black;
  border-right: 0.25px solid black;
  width: 20%;
}

.number {
  text-align: center;
  padding-bottom: -0.5rem;
  border-bottom: 0.25px solid black;
}
/*
.grid1:hover,
.grid2:hover {
  flex: 100;
  transition: all;
  transition-duration: 1s;
}
*/

.header {
  text-align: center;
}

.grid {
  display: flex;
  flex-flow: column wrap;
  height: 96%;
}

.box {
  flex: 1;
  text-align: center;
}

.box:not(:last-child) {
  border-bottom: 0.25px solid black;
}

.menu-content {
  opacity: 0;
  /* transform: translate3d(0, -15px, 0); */
  /* transition: all 150ms linear; */
  color: black;
  z-index: 100;
  position: absolute;
  height: 100vh;
}

.subContainer,
.box {
  transition: 1s;
}

.subContainerOne,
.subContainerTwo,
.subContainerThree,
.subContainerFour {
  border: 0.25px solid black;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 0.25px solid black;
}

.hidden {
  display: none;
}

.title {
  font-size: 2.4rem;
  padding: 0.25rem;
  line-height: 2rem;
  margin-bottom: 5rem;
}
