@font-face {
    font-family: 'Nouvelle police';
    src: url('Nouvellepolice-Regular.woff2') format('woff2'),
        url('Nouvellepolice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

